<% include header %>
<div style="width:29%;height:100%;float:right;background-color: #886b6b;"><h2>Company</h2><%= cdata[0].CUST_NAME %> </div>
<div style="width:70%;height:10%;background-color: #886b6b;""><h2>Location:</h2><%= ldata[0].location %> </div>
<div style="width:70%;height:10%;background-color: #886b6b;"><h2>Equipment:</h2>
<%= edata[0].EQUIPMENT_NAME %><%= eadata[0].total %> </div>
<%= title %>
<table border="1"><form method="post">
<tr><td>complaint number</td><td><%= data[0].idcomplaint %></td></tr>
<tr><td>Date Of complaint</td><td><%= data[0].doc %></td></tr>
<tr><td>complainant</td><td><%= data[0].complainant %></td></tr>
<tr><td>contact_number</td><td><%= data[0].contact_number %></td></tr>
<tr><td>Number of affected equipments</td><td><%= data[0].affected_equips %></td></tr>
<tr><td>Problem</td><td><%= data[0].problem %></td></tr>
<tr><td>Complaint Discription</td><td><%= data[0].comp_desc %></td></tr>
<tr><td>Remark</td><td><%= data[0].remark %></td></tr>
<tr><td>zone jiski jrurt nhi he</td><td><%= data[0].zone %></td></tr>
<tr><td>supervisor on basis of lid(ebid)</td><td><%= data[0].supervisor %>
//onclick supervisor get whole detail of sup..
<select name="supervisor">
<% for(var i=0;i<sdata.length;i++) { %>
<option><%= sdata[i].sname %></option>
<% } %>
</select>
</td></tr>
<tr><td>mechanic on basis of supervisor drop down select and save changeble multiple</td><td>
//ajax for mech....
<select name="mechanic" multiple>
<% for(var i=0;i<sdata.length;i++) { %>
<option><%= sdata[i].sname %></option>
<% } %>
</select> 
<%= data[0].mechanic %>   </td></tr>
<tr><td>report comment box</td><td><textarea rows="4" cols="50" name="report">parag<%= data[0].report %></textarea></textarea></td></tr>
<tr><td>nature drop down select and save changeble multiple</td><td><select name="nature" multiple>
<option>abc<option><option>bcd<option><option>cde<option></select><%= data[0].nature %></td></tr>
<tr>
<td>last status date null/date</td><td><input type="date" value="<%= data[0].st_date %>" name="st_date" readonly/><%= data[0].st_date %></td></tr>
<tr><td>status drop down select and save changeble</td><td><select name="status" onchange="stdate()">
<option>NEW</option>
<option>ON PENDING</option>
<option>UNDER PROGRESS</option>
<option>RESOLVED</option>
</select>     <%= data[0].status %></td><td><input type="submit" name="submit" value="save"></td></tr>				<input type="hidden" name="cexid"	value="<%= data[0].idcomplaint %>">	</form>	</table>				
<span><%= status %></span>
<script>
function stdate(){
	
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!

var yyyy = today.getFullYear();
if(dd<10){
    dd='0'+dd;
} 
if(mm<10){
    mm='0'+mm;
} 
var today = yyyy+'-'+mm+'-'+dd;
alert(today);
document.getElementsByName("st_date")[0].value = today;

}
</script>
<% include footer %>