<% include header %>

<form  method="post" <%= ed %>>
    <center>
        <table id="signup"  width="500px" align="center" border="0" cellpadding="4px" cellspacing="8px" id="reg">


            <tr>
                <td>CUSTOMER NAME</td>
                <td><input type="text" name="cn" autocomplete="off" value="<%= result[0].CUST_NAME %>" readonly  required></td>
                <td><input type="submit" name="submit" value="SAVE UPDATION"></td>
            </tr>
            <tr>
                <td>EMAIL</td>
                <td><input type="email" name="em" autocomplete="off" value="<%= result[0].EMAIL %>" <%= ed %>  ></td>
            </tr>
            <tr>
                <td>MOBILE</td>
                <td><input type="tel" name="mob" maxlength="10" minlength="10" placeholder="10 digit number" autocomplete="off" value="<%= result[0].TEL_OFF %>" <%= ed %>  required></td>
            </tr>
            <tr>
                <td>ALT. MOBILE</td>
                <td><input type="tel" name="amob" maxlength="10" minlength="10" placeholder="10 digit number" autocomplete="off" value="<%= result[0].TEL_RESD %>" <%= ed %>  ></td>
            </tr>
            <tr>
                <td>CONTACT PERSON</td>
                <td><input type="text" name="cp" autocomplete="off" value="<%= result[0].CONT_PERSON %>" <%= ed %>  required></td>
            </tr>
            <tr>
                <td>TYPE</td>
                <td><input type="text" name="type" autocomplete="off" value="<%= result[0].CLASSIFICATION %>" <%= ed %>  required></td>
            </tr>
            <tr>
                <td>SPECIAL COMMENT</td>
                <td><input type="text" name="splcmnt" autocomplete="off" value="<%= result[0].SPL_COMNT %>" <%= ed %>  ></td>
            </tr>


        </table>
    </center>

</form>


<% include footer %>